body{
    background-color: #173d55;
}
.college_name{
    font-size: 50px;
    font-weight: bolder;
    color:#c7ceda;
    display:flex;
    justify-content: center;
    text-align: center;
}
.icon_back{
    background-color: #8697a6;
    width: 70%;
    height: auto;
    margin: 50px auto;
    display:flex;
    justify-content: center;
    text-align: center;
}
.icon{
    width:200px; 
    height:auto; 
    display:block;
    margin:50px auto;
}

.list{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}
.product{
    width:100px; height: 30px; margin: 10px;
    background-color: white;
    display: flex;
    justify-content: center;    
    align-items: center; 
}